#main-menu {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  
  ul {
    max-width: 500px;
    list-style: none;
    margin-top: 100px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.5s;

    li {
      padding-bottom: 0.5em;
      padding-top: 0.5em;
      border-top: 1px solid var(--color-white);

      &:first-child {
        border-top: none;
      }

      > div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      ul {
        margin-left: 60px;

        a {
          font-size: 2rem;
        }
      }
    }

    a {
      text-decoration: none;
      display: block;
      font-size: 2.8rem;
      color: var(--color-white);
      transition: color 0.5s ease-in-out;
      font-weight: 500;

      .icon-wrapper {
        padding-right: 10px;
      }

      svg {
        stroke: var(--color-link-inactive);
        width: 24px;
        height: 24px;
        transition: stroke 0.5s ease-in-out;
      }

      &:hover {
        color: var(--color-link-hover);
        border: none;

        svg {
          stroke: var(--color-link-hover);
        }
      }

      div {
        display: inline-block;
      }
    }

    p {
      color: var(--color-link-inactive);
      margin-top: 0;
    }
  }
}

.menu-active #main-menu {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 1s ease-in-out;

  ul {
    margin-top: 0;
    opacity: 1;
    transition: all 1s ease-in-out;
  }
}

// active path
[pageName="home"] #main-menu .home,
[pageName="cities"] #main-menu .cities,
[pageName="cities-gelsenkirchen"] #main-menu .cities-gelsenkirchen,
[pageName="football"] #main-menu .football,
[pageName="blog"] #main-menu .blog {
  color: #666;
  pointer-events: none;
  cursor: default;

  svg {
    stroke: #666;
  }
}