@use "../variables" as *;

.section-wrapper {
  &:first-of-type {
    margin-top: 120px;

    &.inContainer {
      margin-top: 120px;
    }
  }

  &.inContainer .blocks{
    max-width: var(--max-content-width);
    margin: 0 auto;

    @media (max-width: ($max-content-width + (2 * $large-screen-padding))) {
      max-width: 100%;
      padding: 0 var(--large-screen-padding);
    }
    @media (max-width: $small-screen) {
      padding: 0 var(--small-screen-padding);
    }
  }
  &.marginTop {
    margin-top: 100px;
  }
  &.marginBottom {
    margin-bottom: 100px;
  }
}