@use "../variables" as *;

[data-section-composition-type="text"] {

  &.imageBanner {
    margin-top: -40px !important;
    min-height: 400px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .blocks {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-top: auto;
      min-height: 400px;
    }

    .block-text {
      text-align: left;
      max-width: 50%;
      background-color: var(--color-caption-background);
      backdrop-filter: blur(5px);
      padding: 30px;
      margin-bottom: -30px;

      @media (max-width: $ipad-pro-width-portrait) {
        max-width: 70%;
      }
      @media (max-width: $ipad-width-portrait) {
        max-width: 100%;
      }
      @media (max-width: $very-small-screen) {
        margin-bottom: -40px;
        padding: 20px 20px 10px;
      }
    }

    h1 {
      margin: 0;
    }
  }
}

      
