@use "../variables" as *;

[data-section-composition-type="media"] {
  
  .blocks {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    /*
      Note: There is a low-res and a high-res image in a figure. The low-res image is used as a placeholder for the high-res image. The high-res image is loaded in the background and is made visible once the image enters the viewport. The two image positions and opacity is managed in /blocks/_sanity-image.scss

      This style only defines the resp[onsive image sizing. 
    */
    figure {
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;

      @media (max-width: $ipad-width-portrait) {
        position: relative;
        left: 0;
        width: 100%;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      } 
    }

    .cta {
      margin: 30px 0;
    }
  }

  &.imageLeft {
    .blocks {
      flex-direction: row-reverse;

      .block {
        padding: 40px 0 40px 40px;

        @media (max-width: $ipad-width-portrait) {
          padding: 40px 0;
        }
      }

      figure {
        left: 0;
        width: 50%;

        @media (max-width: $ipad-width-portrait) {
          width: 100%;
        }
      }
    }
  }
}