@use "../variables" as *;

.event-banner {
  .columns {
    .column {
      align-self: stretch;
    }
  }
  .block-text {
    padding: var(--large-screen-padding);

    .prefix {
      color: var(--color-highlight);
      font-weight: var(--font-weight-bold);
      margin-bottom: 0;
    }

    .prefix + .section-heading {
      margin-top: 0;
    }

    .sub-title {
      font-style: italic;
    }
  }
}