.block.block-blog-header {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;

  h1 + .sub-title {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 0.5rem;
  }
  .authors-date {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
    font-style: italic;
    font-size: 1.6rem;

    // construct the author and date string
    // By author, author and author on date

    ul {
      list-style: none;

      &:before {
        content: "By ";
      }
      li {
        padding: 0;
        display: inline-block;
        white-space: nowrap;
        // all author names get a comma before them
        &:before {
          padding: 0;
          position: static;
          content: ",";
        }
        // except the first one
        &.first{
          &:before {
            content: "";
            border: none;
          }
        }
        // and the last one
        &.last:before {
          content: " and ";
          border: none;
        }
      }
    }
    // and the on before the date
    time{
      display: inline-block;

      &:before {
        content: ", on";
        padding: 0 5px 0 0;
      }
    }
  }
  figure {
    margin-bottom: 3rem;
  }
}
.block.block-blog-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 0 40px;

  p code {
    color: var(--color-code);
  }
}