@use "../variables" as *;

.block {
  flex: 0 0 50%;  
  padding: 40px 40px 40px 0;

  @media (max-width: $ipad-width-portrait) {
    flex: 0 0 100%;
    padding: 40px 0;
  }

  .prefix,
  .page-heading,
  .section-heading,
  .sub-title {
    margin-top: 0;
    margin-bottom: 0.75em;
  }
  .prefix {
    margin-bottom: 0;
    font-weight: 500;
    color: var(--color-highlight);
  }

  .page-heading + .sub-title,
  .section-heading + .sub-title {
    margin-top: -10px;
    font-style: italic;
    font-size: 2.2rem;
  }

  li {
    position: relative;
    padding: 0 0 0 20px;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-left-color:  var(--color-primary);
    }
  }
}