{% from "../partials/image.njk" import image %}

{% macro blogHeader(info, data, authorsList) %}

  {# get the blogpost author(s) from data.authors via the authors ref ion authorsList #}
  {% set authors = data["authors"] | filterList(authorsList) %}

  {% if info.title %}
    <h1>{{ info.title }}</h1>
  {% endif %}

  {% if info.subTitle %}
    <p class="sub-title">{{ info.subTitle }}</p>
  {% endif %}

  <div class="authors-date">

    <ul>
    {% if authors %}
      {% set length = authors | length %}
      {% for author in authors %}
        <li
          {% if (loop.index === 1) and (loop.index === length) %}class="first"{% endif %} 
          {% if (loop.index === 1) and (loop.index !== length) %}class="first"{% endif %}
          {% if (loop.index !== 1) and (loop.index === length) %}class="last"{% endif %}
        >{{ author.name }}</li>
      {% endfor %}
    {% endif %}
    </ul>
    {% if info.publishingDate %}
      <time datetime="{{ info.publishingDate }}">{{ info.publishingDate | blogDate }}</time>
    {% endif %}
  </div>

  {% if info.mainImage %}
    {{ image(info.mainImage) }}
  {% endif %}
  
{% endmacro %}