{% macro ctas(info) %}
  <div class="ctas">
    {% for cta in info %}

      {% set classString = "" %}
      {% if cta.isButton %}
        {% set classString = classString ~ " button" %}
      {% else %}
        {% set classString = classString ~ " text-link" %}
      {% endif %}
      {% if cta.buttonStyle and cta.isButton %}
        {% set classString = classString ~ " " ~ cta.buttonStyle %}
      {% endif %}
      {% if cta.isVideoTrigger %}
        {% set classString = classString ~ " js-modal-video" %}
      {% endif %}


      <a 
        href="{{ cta.url }}" 
        class="{{ classString }}" 
        {% if cta.isExternal %}target="_blank" rel="noopener noreferrer"{% endif %}
        {% if cta.isVideoTrigger %}data-video-id="{{ cta.videoId }}"{% endif %}
      >
        {{ cta.label}}
      </a>

    {% endfor %}
  </div>
{% endmacro %}