{% macro image(info) %}

  <figure class="sanity-image-wrapper js-sanity-image-wrapper" >
    {# get image source for LRIP #}
    {% set lowResImagesrc = info.imageUrl ~ '?w=200&blur=50' %}

    <img class="low-res" src="{{ lowResImagesrc }}" alt="{{ info.alt }}"/>
    <img class="high-res" src="" alt="{{ info.alt }}" data-source="{{ info.imageUrl }}"/>
    {% if info.caption %}<figcaption>{{ info.caption | mdToHTML | safe }}</figcaption>{% endif %}
    {% if info.credits %}<div class="image-credit">{{ info.credits | mdToHTML | safe }}</div>{% endif %}
  </figure>    
  
{% endmacro %}