{% from "../partials/cta.njk" import cta %}

{% macro media(info) %}

  {% if info.titlePrefix %}
    <p class="prefix">{{ info.titlePrefix }}</p>
  {% endif %}

  {% if info.title %}
    {% if info.headerType === "h1" %}
      <h1 class="page-heading">{{ info.title }}</h1>
    {% elif info.headerType === "h2" %}
      <h2 class="section-heading">{{ info.title }}</h2>
    {% else %}
      <h3 class="section-heading">{{ info.title }}</h3>
    {% endif %}
  {% endif %}

  {% if info.subTitle %}
    <p class="sub-title">{{ info.subTitle }}</p>
  {% endif %}

  {% if info.mediaImage.imageURL %}
    <figure class="sanity-image-wrapper js-sanity-image-wrapper" >
      {# get image source for LRIP #}
      {% set lowResImagesrc = info.mediaImage.imageURL ~ '?w=200&blur=50' %}

      <img class="low-res" src="{{ lowResImagesrc }}" alt="{{ info.alt }}"/>
      <img class="high-res" src="" alt="{{ info.alt }}" data-source="{{ info.mediaImage.imageURL }}"/>
      {% if info.caption %}<figcaption>{{ info.caption | mdToHTML | safe }}</figcaption>{% endif %}
      {% if info.credits %}<div class="image-credit">{{ info.credits | mdToHTML | safe }}</div>{% endif %}
    </figure>
  {% endif %}

  {% if info.portableTextBody %}
    <div class="prose">{{ info.portableTextBody | mdToHTML | safe }}</div>
  {% endif %}
  
  {% if info.cta %}
    {{ cta(info.cta) }}
  {% endif %}

{% endmacro %}