{% from "./partials/image.njk" import image %}

{% extends "layout.njk" %}

{% block body %}
  <div class="container">
    <h1>My Blog</h1>

    <ul class="blog-list">
    {% for blogPost in collections.blog %}
      
      <li>
        <a href="/{{ blogPost.slug.current }}">
          {% if blogPost.image %}
            {{ image(blogPost.image) }}
          {% endif %}
          <h2>{{ blogPost.title }}</h2>
          <time datetime="{{ blogPost.publishedAt }}">{{ blogPost.publishedAt | blogDate }}</time>
          <div>{{ blogPost.portableTextBody }}</div>
        </a>
      </li>

    {% else %}
      <p class="error-message">No blog posts found</p>
    {% endfor %}
    </ul>
  </div>
{% endblock %}