<!doctype html>
<html class="no-js" lang="">

  <head>
    {% include "sections/head.njk" %}
  </head>

  <body class="{{ bodyClass }}">
    <div id="at-top"></div>
    {% include "sections/header.njk" %}
    
    <div data-barba="wrapper">
      <main data-barba="container" data-barba-namespace="barbaPage">
        
        {% block body %}
          This is the default contents
        {% endblock %}
        
      </main>
    </div>

    {% include "sections/footer.njk" %}
    {% include "sections/scripts.njk" %}
  </body>
  
</html>
