{% extends "layout.njk" %}

{% from "./blocks/block.njk" import renderBlock %}

{% block body %}
  {% for section in sections %}
    {# build the sections class string #}
    {% set sectionClasses = "section-wrapper" %}
    {% if section.containerFields.containerClass %}
      {% set sectionClasses = sectionClasses ~ " " ~ section.containerFields.containerClass %}
    {% endif %}
    {% if section.containerFields.inContainer %}
      {% set sectionClasses = sectionClasses ~ " inContainer" %}
    {% endif %}
    {% if section.containerFields.margin.top %}
      {% set sectionClasses = sectionClasses ~ " marginTop" %}
    {% endif %}
    {% if section.containerFields.margin.bottom %}
      {% set sectionClasses = sectionClasses ~ " marginBottom" %}
    {% endif %}
    {% if section.containerFields.padding.top %}
      {% set sectionClasses = sectionClasses ~ " paddingTop" %}
    {% endif %}
    {% if section.containerFields.padding.bottom %}
      {% set sectionClasses = sectionClasses ~ " paddingBottom" %}
    {% endif %}
    {% if section.containerFields.background.isDark %}
      {% set sectionClasses = sectionClasses ~ " isDark" %}
    {% endif %}

    {# get the sections id string #}
    {% if section.containerFields.containerId %}
      {% set sectionId = section.containerFields.containerId %}
    {% else %}
      {% set sectionId = "" %}
    {% endif %}

    {# build the section inline styles string #}
    {% set sectionStyles = "" %}
    {% if section.containerFields.background.color %}
      {% set sectionStyles = sectionStyles ~ "background-color:" ~ section.containerFields.background.color ~ ";" %}
    {% endif %}
    {% if section.containerFields.background.image %}
      {% set sectionStyles = sectionStyles ~ "background-image: url(" ~ section.containerFields.background.image ~ ");" %}
    {% endif %}
    
    {# section || article || aside #}
    <{{section.container}} 
      class="{{ sectionClasses }}" 
      {% if sectionId %} id="{{ sectionId }}" {% endif %} 
      {% if sectionStyles %} style="{{ sectionStyles }}" {% endif %}
    >
      <div class="columns cols{{ section.columns | length }}">
        {# render the section columns #}
        {% for column in section.columns %}

          {# render individual columns and their respective blocks #}
          <div class="column">  
            
              {% set name = column.name %}
              {% set params = column %}

              {# name determines which block is rendered #}
              {{ renderBlock(name, params, data) }}
            
          </div>
        {% endfor %}
      </div>   
    </{{section.container}}>

  {% endfor %}
{% endblock %}