.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: .5rem;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.25;
  padding: calc(1rem - 1px) calc(3rem - 1px);
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &.primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-white);

    &:hover,
    &:focus {
      background-color: transparent;
      border-color: var(--color-primary);
      color: var(--color-primary);
      box-shadow: var(--default-box-shadow);
    }
  }

  &.secondary {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    color: var(--color-white);

    &:hover,
    &:focus {
      background-color: transparent;
      border-color: var(--color-secondary);
      color: var(--color-secondary) !important;
      box-shadow: var(--default-box-shadow);
    }
  }
}