.button {
  display: inline-flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: var(--color-white);
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(2rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;

  &.primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
  }

  &:hover,
  &:focus {
    opacity: 0.8;
    box-shadow: var(--default-box-shadow);
  }

  &:hover {
    transform: translateY(-1px);
  }

  &:active {
    box-shadow: var(--default-box-shadow);
    transform: translateY(0);
  }
}