@use "./variables" as *;

html {
  font-size: 10px;
}
body {
  font-family: 'Quicksand', sans-serif;
  font-weight: var(--font-weight-normal);
  font-size: 1.8rem;
  line-height: 1.5;

  @media (max-width: $small-screen) {
    font-size: 1.6rem;
    line-height: 1.3;
  }
 }
 
 h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-weight: var(--font-weight-bold);
  margin: 0.5em 0;
 }

 h1 {
  font-size: 5.7rem;

  @media (max-width: $ipad-pro-width-portrait) {
    font-size: 5rem;
  }
  @media (max-width: $small-screen) {
    font-size: 4rem;
  }
  @media (max-width: $very-small-screen) {
    font-size: 3rem;
  }
 }

 h2 {
  font-size: 3.6rem;

  @media (max-width: $ipad-pro-width-portrait) {
    font-size: 3.2rem;
  }
  @media (max-width: $small-screen) {
    font-size: 2.8rem;
  }
  @media (max-width: $very-small-screen) {
    font-size: 2.4rem;
  }
 }
 h3 {
  font-size: 3.2rem;

  @media (max-width: $ipad-pro-width-portrait) {
    font-size: 2.8rem;
  }
  @media (max-width: $small-screen) {
    font-size: 2.4rem;
  }
  @media (max-width: $very-small-screen) {
    font-size: 2rem;
  }
 }
 h4 {
  font-size: 2.4rem;

  @media (max-width: $ipad-pro-width-portrait) {
    font-size: 2rem;
  }
  @media (max-width: $small-screen) {
    font-size: 1.8rem;
  }
  @media (max-width: $very-small-screen) {
    font-size: 1.4rem;
  }
 }