// colors
:root {
  --color-primary: #202020;
  --color-primary-complement: #dfdfdf;
  --color-secondary: #3f3f3f;
  --color-secondary-complement: #c0c0c0;
  --color-tertiary: #707070;
  --color-tertiary-complement: #8f8f8f;
  --color-highlight: #ffdf6c;
  --color-highlight-complement: #002093;
  --color-white: #fff;
  --color-black: #000;
  --color-link: #932432;
  --color-link-hover: #de354c; 
  --color-link-inactive: #ccc;
  --color-code: #669900;

  --color-header-background: rgba(255, 255, 255, 0.9);
  --color-caption-background: rgba(0, 0, 0, 0.5);
  --color-overlay-background: rgba(63, 63, 63, 0.95);
  --default-box-shadow: 0px 4px 10px 0px rgba(51,51,51,0.2);
  --default-text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);

  --font-weight-bold: 500;
  --font-weight-normal: 300;

  --large-screen-padding: 40px;
  --small-screen-padding: 20px;
  --max-content-width: 1440px;
  --max-card-width: 320px;

  --background1: radial-gradient(circle at 25% 54%, rgba(18, 18, 18,0.06) 0%, rgba(18, 18, 18,0.06) 22%,transparent 22%, transparent 100%),radial-gradient(circle at 67% 98%, rgba(223, 223, 223,0.06) 0%, rgba(223, 223, 223,0.06) 52%,transparent 52%, transparent 100%),radial-gradient(circle at 7% 92%, rgba(169, 169, 169,0.06) 0%, rgba(169, 169, 169,0.06) 52%,transparent 52%, transparent 100%),radial-gradient(circle at 46% 37%, rgba(187, 187, 187,0.06) 0%, rgba(187, 187, 187,0.06) 47%,transparent 47%, transparent 100%),radial-gradient(circle at 38% 35%, rgba(57, 57, 57,0.06) 0%, rgba(57, 57, 57,0.06) 99%,transparent 99%, transparent 100%),radial-gradient(circle at 46% 86%, rgba(100, 100, 100,0.06) 0%, rgba(100, 100, 100,0.06) 60%,transparent 60%, transparent 100%),linear-gradient(90deg, rgb(112,112,112),rgb(255,223,108));

  --background2: radial-gradient(circle at 29% 55%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 4%,transparent 4%, transparent 44%,transparent 44%, transparent 100%),radial-gradient(circle at 85% 89%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 51%,transparent 51%, transparent 52%,transparent 52%, transparent 100%),radial-gradient(circle at 6% 90%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 53%,transparent 53%, transparent 64%,transparent 64%, transparent 100%),radial-gradient(circle at 35% 75%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 6%,transparent 6%, transparent 98%,transparent 98%, transparent 100%),radial-gradient(circle at 56% 75%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 16%,transparent 16%, transparent 23%,transparent 23%, transparent 100%),radial-gradient(circle at 42% 0%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 3%,transparent 3%, transparent 26%,transparent 26%, transparent 100%),radial-gradient(circle at 29% 28%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 51%,transparent 51%, transparent 75%,transparent 75%, transparent 100%),radial-gradient(circle at 77% 21%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 35%,transparent 35%, transparent 55%,transparent 55%, transparent 100%),radial-gradient(circle at 65% 91%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 46%,transparent 46%, transparent 76%,transparent 76%, transparent 100%),linear-gradient(45deg, rgb(255,223,108),rgb(112,112,112));
}


$max-content-width: 1440px;
$mid-sized-screen: 1200px;
$ipad-pro-width-portrait: 1024px;
$ipad-pro-width-landscape: 1366px;
$ipad-width-portrait: 768px;
$ipad-width-landscape: 1024px;
$small-screen: 600px;
$very-small-screen: 360px;

$large-screen-padding: 40px;
$small-screen-padding: 20px;

$max-content-width-and-padding: $max-content-width + $large-screen-padding * 2;