// colors
:root {
  --color-primary: #202020;
  --color-primary-complement: #dfdfdf;
  --color-secondary: #3f3f3f;
  --color-secondary-complement: #c0c0c0;
  --color-tertiary: #707070;
  --color-tertiary-complement: #8f8f8f;
  --color-highlight: #ffdf6c;
  --color-highlight-complement: #002093;
  --color-white: #fff;
  --color-black: #000;
  --color-link: #932432;
  --color-link-hover: #de354c; 
  --color-link-inactive: #ccc;

  --color-header-background: rgba(255, 255, 255, 0.9);
  --color-caption-background: rgba(0, 0, 0, 0.5);
  --color-overlay-background: rgba(63, 63, 63, 0.95);
  --default-box-shadow: 0px 4px 10px 0px rgba(51,51,51,0.2);
  --default-text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);

  --font-weight-bold: 500;
  --font-weight-normal: 300;

  --large-screen-padding: 40px;
  --small-screen-padding: 20px;

}


$max-content-width: 1440px;
$mid-sized-screen: 1200px;
$ipad-pro-width-portrait: 1024px;
$ipad-pro-width-landscape: 1366px;
$ipad-width-portrait: 768px;
$ipad-width-landscape: 1024px;
$small-screen: 600px;
$very-small-screen: 360px;

$large-screen-padding: 40px;
$small-screen-padding: 20px;